body {
    /* background-image: url("/images/rectangle.png"); */
    /* background-repeat: no-repeat; */
    background-color: rgb(113, 167, 167);
    overflow: hidden;
}

.back {
    background-image: url("/images/rectangle.png");
    background-repeat: no-repeat;
    width: 1024px;
    margin: 0 auto;
    background-color: white;
    padding: 25px 50px;
    border-radius: 18px;
    margin-top: 100px;
}

.box {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 850px;
    min-width: 450px;
    background-color: aquamarine;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
    border-radius: 6px;
    box-shadow: 0px 7px 20px 0px #a5afc25e;
    background-image: url("/images/main.png");
    background-size: cover;
    padding-bottom: 30px;
}

.box h2 {
    font-size: 12px;
    text-align: center;
    padding-top: 58px;
    text-transform: uppercase;
    font-weight: 100;
}

.box h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding: 24px 70px;
}

.box p {
    font-size: 16px;
    text-align: center;
    padding: 10px 60px 34px;
}

.box .small {
    font-size: 12px;
    padding-top: 30px;
}

.box a {
    background-color: rgb(57, 196, 164);
    color: white;
    text-decoration: none;
    padding: 10px 30px 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px 1px rgb(0 0 0 / 25%);
}

.box a:hover {
    background-color: rgb(31, 123, 102);
}

.triangle {
    background-color: blueviolet;
    width: 150%;
    height: 852px;
    transform: rotate(153deg);
    position: absolute;
    top: -535px;
    left: -349px;
    z-index: -9;
}